<a style="text-decoration: none" href="{{url}}">

	<div class="admin-card video-card card">
		<div class="img" style="background-image: url({{imageUrl}})"><div class="video-length">15min</div></div>
		<div class="text-wrapper">
			<h5>{{ title }} </h5>
		</div>
		<a href="/admin-articles/{{_id}}/edit" class="edit-link">Edit</a>
		<button class="btn-delete-article btn" id="{{_id}}">Delete</button>
	</div>
</a>
