<div class="session-card card">
	<div class="room">{{stage}}</div>
	<div class="details">
		<div class="topic">{{topic}}</div>
		<div class="speaker">{{speaker}}</div>
		<div class="speaker-bot-wrapper">
			<div class="image"></div>

		  <div class="bot-right">
				<div class="organisation">{{hub}} </div>
				<div class="time">{{time}}</div>

		  </div>

		</div>

	</div>
</div>
