<div class="card event-card card">
	<a href="/event/{{_id}}">
		<div class="img" style="background-image:url({{eventImage}})" ></div>
		<div class="text-wrapper">

			<h5>{{title}}</h5>
			<div class="location">
				{{location}}
			</div>
			<div class="date">
				{{dateStart}} - {{dateFinish}}

			</div>
		</div>
	</a>
</div>
