<div class="session-card card">
	<div class="room">{{stage}}</div>
	<div class="details">
		<div class="topic">{{topic}}</div>
		<div class="speaker">{{speaker}}</div>
		<div class="speaker-bot-wrapper">
			<div class="image" style="background-image: url({{ speakerImage }})"></div>

		  <div class="bot-right">
				<div class="organisation">[ {{speakerProfession}} ]</div>
				<div class="time">{{start}}-{{finish}}</div>

		  </div>

		</div>

	</div>
</div>
