<!DOCTYPE html>

<h1 class="form-admin-title">Admin / Events / New Event</h1>

<form class="new-event form-admin"  method="post">

	<div class="validation-message"></div>

	<div class="info-container">
		<label for="name">Name</label>
		<input type="text" name="name"  placeholder="name">
	</div>

	<div class="info-container">
		<label for="email">Email</label>
		<input type="text" name="email"  placeholder="email">
	</div>

	<div class="info-container">
		<label for="tito-id">tit.to id</label>
		<input class="tito-id" type="text" name="tito-id"  placeholder="tito-id">
	</div>

	<div class="info-container">
		<label for="time-from">Starting time (24h)</label>
		<input type="time" name="time-from"  placeholder="time-from">
	</div>


	<div class="info-container">
		<label for="time-to">End (24h)</label>
		<input type="time" name="time-to"  placeholder="time-to">
	</div>

	<div class="info-container">
		<label for="date-from">Date from</label>
		<input type="date" name="date-from"  placeholder="date-from">
	</div>

	<div class="info-container">
		<label for="date-to">Date to</label>
		<input type="date" name="date-to"  placeholder="date-to">
	</div>

	<div class="info-container">
		<label for="image-file-name">Event Card Image</label>
		<input type="text" name="image-file-name"  placeholder="image-file-name">
	</div>

	<div class="info-container">
		<label for="hashtag-organiser">Hashtag Organiser</label>
		<input type="text" name="hashtag-organiser"  placeholder="hashtag-organiser">
	</div>


	<div class="info-container">
		<label for="quote">Quote</label>
		<input type="text" name="quote"  placeholder="quote">
	</div>

	<div class="info-container">
		<label for="organiser-logo-url">Organiser Logo Url</label>
		<input type="text" name="organiser-logo-url"  placeholder="organiser-logo-url" >
	</div>

	<div class="info-container">
		<label for="background-img-url">Background Image Url</label>
		<input type="text" name="background-img-url"  placeholder="background-img-url">
	</div>

	<div class="info-container">
		<label for="location">Location</label>
		<input type="text" name="location"  placeholder="location">
	</div>
	<div class="info-container">
		<label for="address">address</label>
		<input type="text" name="address"  placeholder="address">
	</div>

	<div class="social-admin-form">
		<h4 class="admin-section-title">Social messages</h4>
		<div class="info-container">
			<label for="social-twitter">Twitter</label>
			<textarea class="social-twitter" type="text" name="social-twitter"  placeholder="social-twitter"></textarea>
		</div>

		<div class="info-container">
			<label for="social-facebook">Facebook</label>
			<textarea class="social-facebook" type="text" name="social-facebook"  placeholder="social-facebook"></textarea>
		</div>

		<div class="info-container">
			<label for="social-linkedin">Linkedin</label>
			<textarea class="social-linkedin" type="text" name="social-linkedin"  placeholder="social-linkedin"></textarea>
		</div>
	</div>
	<div class="info-container">
		<label for="about">About</label>
		<textarea type="textarea" name="about"  placeholder="about"></textarea>
	</div>


	<div class="info-container">
		<label for="takeaways">Takeaways</label>
		<div class="takeaways">
			<input type="text" name="takeaways"  class="takeaways-value" placeholder="takeaways">
		</div>
	</div>
	<button class="takeaways-content-btn">Add more</button>

	<div class="info-container">
		<label>Speakers</label>
		<select multiple class="multiple-select-admin speakers" name="speakers">

			{{#each userData }}
			<option value="{{_id}}" {{selected _id ../eventData._speakers}}> {{fullName}}</option>
			{{/each}}

		</select>
	</div>

	<div class="info-container">
		<label >Organiser</label>
		<select class="organiser" name="organiser">

			<option style="display:none"></option>
			{{#each userData }}
			<option value="{{_id}}"> {{fullName}}</option>
			{{/each}}

		</select>
	</div>


	<div class="info-container">
		<label>Article</label>
		<select multiple class="multiple-select-admin articles" name="articles">

			{{#each articleData }}
			<option value="{{_id}}" > {{title}}</option>
			{{/each}}

		</select>
	</div>

	<div class="info-container">
		<label>Tags</label>
		<select multiple class="multiple-select-admin tags" name="tags">

			{{#each tagData }}
			<option value="{{_id}}"> {{name}}</option>
			{{/each}}

		</select>
	</div>


	<div class="info-container">
		<label>Videos</label>
		<select multiple class="multiple-select-admin videos" name="videos">

			{{#each videoData }}
			<option value="{{_id}}"> {{title}}</option>
			{{/each}}

		</select>
	</div>


	<div class="info-container">
		<label>Hubs</label>
		<select multiple class="multiple-select-admin hubs" name="hubs">

			{{#each hubData }}
			<option value="{{_id}}"> {{name}}</option>
			{{/each}}

		</select>
	</div>

	<div class="sponsors-admin alternate-color-admin-form new-sponsors-group">
		<h4>Platinum sponsors</h4>
		<div class="sponsor-append">
			<div class="plat">


				<div class="pack">
					<label for="plat-name">Name</label>
					<input class="plat-name" type="text" name="plat-name"  placeholder="plat-linkedin">

					<label for="plat-filename">Sponsor Logo Url</label>
					<input class="plat-filename" type="text" name="plat-filename"  placeholder="plat-filename">

					<label for="plat-url">Sponsor Page Url</label>
					<input class="plat-url" type="text" name="plat-url"  placeholder="plat-url">
				</div>



			</div>
		</div>
		<button class="plat-content-btn">Add more</button>

		<div class="new-sponsors">
			<h4>Gold sponsors</h4>
			<div class="sponsor-append">
				<div class="gold">

					<div class="pack">

						<label for="gold-name">Name</label>
						<input class="gold-name" type="text" name="gold-name"  placeholder="gold-linkedin">

						<label for="gold-filename">Sponsor Logo Url</label>
						<input class="gold-filename" type="text" name="gold-filename"  placeholder="gold-filename">

						<label for="gold-url">Sponsor Page Url</label>
						<input class="gold-url" type="text" name="gold-url"  placeholder="gold-url">
					</div>

				</div>
			</div>

		</div>
		<button class="gold-content-btn">Add more</button>


		<div class="new-sponsors">
			<h4>Silver sponsors</h4>
			<div class="sponsor-append">
				<div class="silv">


					<div class="pack">


						<label for="silv-name">Name</label>
						<input class="silv-name" type="text" name="silv-name"  placeholder="silv-linkedin">

						<label for="silv-filename">Sponsor Logo Url</label>
						<input class="silv-filename" type="text" name="silv-filename"  placeholder="silv-filename">

						<label for="silv-url">Sponsor Page Url</label>
						<input class="silv-url" type="text" name="silv-url"  placeholder="silv-url">
					</div>

				</div>
			</div>

		</div>
		<button class="silv-content-btn">Add more</button>

		<div class="new-sponsors">
			<h4>Bronze sponsors</h4>
			<div class="sponsor-append">
				<div class="bron">


					<div class="pack">


						<label for="bron-name">Name</label>
						<input class="bron-name" type="text" name="bron-name"  placeholder="bron-linkedin">

						<label for="bron-filename">Sponsor Logo Url</label>
						<input class="bron-filename" type="text" name="bron-filename"  placeholder="bron-filename">

						<label for="bron-url">Sponsor Page Url</label>
						<input class="bron-url" type="text" name="bron-url"  placeholder="bron-url">
					</div>

				</div>
			</div>

		</div>
		<button class="bron-content-btn">Add more</button>

		<div class="new-sponsors">
			<h4>Med sponsors</h4>

			<div class="sponsor-append">
				<div class="med">


					<div class="pack">


						<label for="med-name">Name</label>
						<input class="med-name" type="text" name="med-name"  placeholder="med-linkedin">

						<label for="med-filename">Sponsor Logo Url</label>
						<input class="med-filename" type="text" name="med-filename"  placeholder="med-filename">

						<label for="med-url">Sponsor Page Url</label>
						<input class="med-url" type="text" name="med-url"  placeholder="med-url">

					</div>

				</div>
			</div>

		</div>
		<button class="med-content-btn">Add more</button>

	</div>

	<div class="session">
		<div class="sess-cont">
			<h1>Session</h1>

			<div class="info-container">
				<label for="session-topic">Topic</label>
				<input class="session-topic" type="text" name="session-topic"  placeholder="session-topic">
			</div>

			<div class="info-container">
				<label for="session-stage">session-stage</label>
				<input class="session-stage" type="text" name="session-stage"  placeholder="session-stage" >
			</div>

			<div class="info-container">
				<label for="session-time-from">Starting time</label>
				<input type="time" name="session-time-from"  class="session-time-from" placeholder="session-time-from" >
			</div>


			<div class="info-container">
				<label for="session-time-to">End</label>
				<input type="time" class="session-time-to" name="session-time-to"  placeholder="session-time-to" >
			</div>
			<div class="info-container">
				<label>Speakers</label>
				<select multiple class="multiple-select-admin session-speakers" name="session-speakers">
					{{#each userData }}
					<option value="{{_id}}" {{selected _id ../_speakers}}> {{fullName}}</option>
					{{/each}}
				</select>

			</div>
			<button class="delete-session-btn">Remove session</button>
		</div>


</div>

	<button class="session-content-btn">Add more sessions</button>

		<div class="validation-message"></div>


	<button class="admin-post-btn" type="submit" >Post new event</button>
</form>
